@using EDI_suppliers.Data

@page "/deletesuppliermfg/{id}"

@inject CustomHttpClient Http
@inject NavigationManager NavigationManager
@inject AppSettingsService AppSettingsService

<h2>Vymazání Dodavatele</h2>
<p>Opravdu chcete vymazat dodavatele s ID :<b> @id</b></p>

@*<DataAnnotationsValidator />
    <ValidationSummary />*@

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Dodavatelské číslo MFG</label>
                <input for="Name" class="form-control" @bind="@suppliermfg.MfgId" />
            </div>
            <div class="form-group">
                <label for="Department" class="control-label">Jméno dodavatele</label>
                <input for="Department" class="form-control" @bind="@suppliermfg.Name" />
            </div>
            <div class="form-group">
                <label for="Designation" class="control-label">Kontakt IT</label>
                <input for="Designation" class="form-control" @bind="@suppliermfg.ContactIt" />
            </div>
            <div class="form-group">
                <label for="Company" class="control-label">Kontakt Logistika</label>
                <input for="Company" class="form-control" @bind="@suppliermfg.ContactLog" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Delete" value="Delete" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</form>

@code {

    [Parameter]
    public string id { get; set; }
    string baseUrl;

    SupplierMFG suppliermfg = new SupplierMFG();

    protected override async Task OnInitializedAsync()
    {
        baseUrl = AppSettingsService.GetBaseUrl();
        suppliermfg = await Http.GetJsonAsync<SupplierMFG>(baseUrl + "/api/suppliermfg/details/" + id);
    }

    protected async Task Delete()
    {
        await Http.DeleteAsync(baseUrl + "/api/suppliermfg/delete/" + id);
        NavigationManager.NavigateTo("listsuppliersmfg");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("listsuppliersmfg");
    }
}   