@using EDI_suppliers.Data

@page "/"


@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Services.IConnectionService ConnectionService
@inject Services.ISupplierService SupplierService
@inject Services.IPartnerService PartnerService


<h2>Přehled spojení</h2>

@*<SelectList Data="@suppliers"
            TextField="@((item)=>item.Name)"
            SelectedValue="@selectedListValue"
            SelectedValueChanged="@MyListValueChangedHandler">
</SelectList>*@

@{
    if (suppliers != null)
    {
        <SelectEdit TValue="Supplier" SelectedValue="@supplier" SelectedValueChanged="@OnSelectedValue2">
            @{
                foreach (Supplier sup in suppliers)
                {
                    <SelectItem TValue="Supplier" Value="@sup">@sup.MfgId</SelectItem>
                }
            }
        </SelectEdit>
    }
}




    @code {

        Supplier supplier = new Supplier();
        List<Supplier> suppliers;


        protected override async Task OnInitializedAsync()
        {
            suppliers = await SupplierService.Get();
        }



        int innt;

        void OnSelectedValue(int sup)
        {
            innt = sup;
            Console.WriteLine(innt);
        }

        void OnSelectedValue2(Supplier sup)
        {
            supplier = sup;
            Console.Write(supplier);
        }

    int selectedListValue { get; set; }

    void MyListValueChangedHandler( int newValue )
    {
        selectedListValue = newValue;
        StateHasChanged();
    }

    }
