@using EDI_suppliers.Data

@page "/testovani2"

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject Services.ISupplierService Service

@if (suppliers == null)
{
    <h1>nacitani</h1>
}
else
{
    <MatAutocompleteList Items="@suppliers" TItem="Supplier" Label="Vyber MFG dodavatele" CustomStringSelector="@(i => i.Name)" @bind-Value="@supplier" ShowClearButton="true">
        <ItemTemplate>
            <div style="display: flex; flex-direction: row; width: 100%;">
                <div style="flex: 1;">@context.Name</div>
            </div>
        </ItemTemplate>
    </MatAutocompleteList>
    <p>
        Selected value: @(supplier?.Name)
    </p>
}

@code
{
    Partner[] partners;
    Partner partner = null;

    List<Supplier> suppliers;
    Supplier supplier = null;

    string baseUrl;

    protected override async Task OnInitializedAsync()
    {
        suppliers = await Service.Get();
    }

}

