@using EDI_suppliers.Data

@page "/addsuppliermfg"

@inject CustomHttpClient Http
@inject NavigationManager NavigationManager
@inject AppSettingsService AppSettingsService

<h2>Vytvořit Dodavatele</h2>

<EditForm Model="@suppliermfg" OnValidSubmit="@CreateSupplierMFG">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="MfgId" class="control-label">Dodavatelské číslo MFG</label>
                <ValidationMessage For="@(() => suppliermfg.MfgId)" />
                <input for="MfgId" class="form-control" @bind="@suppliermfg.MfgId" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Jméno dodavatele</label>
                <ValidationMessage For="@(() => suppliermfg.Name)" />
                <input for="Name" class="form-control" @bind="@suppliermfg.Name" />
            </div>
            <div class="form-group">
                <label for="ContactIt" class="control-label">Kontakt IT</label>
                <ValidationMessage For="@(() => suppliermfg.ContactIt)" />
                <input for="ContactIt" class="form-control" @bind="@suppliermfg.ContactIt" />
            </div>
            <div class="form-group">
                <label for="ContactLog" class="control-label">Kontakt Logistika</label>
                <ValidationMessage For="@(() => suppliermfg.ContactLog)" />
                <input for="ContactLog" class="form-control" @bind="@suppliermfg.ContactLog" />
            </div>
            <div class="form-group">
                <label for="Edi" class="control-label">EDI</label>
                <ValidationMessage For="@(() => suppliermfg.Edi)" />
                <input for="ContactLog" type="checkbox" @bind="@suppliermfg.Edi" />
            </div>
            <div class="form-group">
                <label for="EdiConnection" class="control-label">EDI partner</label>
                <ValidationMessage For="@(() => suppliermfg.Edi)" />
                @if (connectionEdis == null)
                {
                    <p>nacitani</p>
                }
                else
                {
                    <select id="suppliermfg">
                        <option></option>
                        @foreach (var connectionEdis in connectionEdis)
                        {
                            <option value="@connectionEdis.EdiId">@connectionEdis.Name</option>
                        }
                    </select>
                }

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button type="submit">Uložit</button>
                <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</EditForm>



@code {

    SupplierMFG suppliermfg = new SupplierMFG();
    ConnectionEdi[] connectionEdis;
    string baseUrl;

    protected override async Task OnInitializedAsync()
    {
        baseUrl = AppSettingsService.GetBaseUrl();
        connectionEdis = await Http.GetJsonAsync<ConnectionEdi[]>(baseUrl + "/api/connectionedi/get");
    }

    protected async Task CreateSupplierMFG()
    {
        baseUrl = AppSettingsService.GetBaseUrl();
        await Http.PostJsonAsync(baseUrl + "/api/suppliermfg/create", suppliermfg);
        NavigationManager.NavigateTo("listsuppliersmfg");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("listsuppliersmfg");
    }
}   