@using EDI_suppliers.Data

@page "/listconnectionedi"

@inject CustomHttpClient Http
@inject AppSettingsService AppSettingsService
@inject AuthenticationStateProvider AuthenticationStateProvider

<h2>Přehled EDI spojení</h2>
<p>
    <a href="/addconnectionedi">Vytvořit nového dodavatele</a>
</p>

@if (connectionEdis == null)
{
    <h3>Načítání....</h3>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Dodavatel MFG</th>
                <th>Jméno dodavatele</th>
                <th>Kontakt IT</th>
                <th>Kontakt Log</th>
                <th>EDI</th>
                <th>EDI Partner</th>
                <th>EDI Partner</th>
                <th>EDI Partner</th>
                <th>EDI Partner</th>
                <th>EDI Partner</th>
                <th>EDI Partner</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var connectionEdis in connectionEdis)
            {
            <tr>
                <td>@connectionEdis.ConnectionType</td>
                <td>@connectionEdis.Calloff</td>
                <td>@connectionEdis.Asn</td>
                <td>@connectionEdis.SettingMfg</td>
                <td>@connectionEdis.SettingEdi</td>
                <td>@connectionEdis.Remark</td>
                <td>@connectionEdis.Name</td>
                <td>@connectionEdis.Gateway</td>
                <td>@connectionEdis.SSID</td>
                <td>@connectionEdis.SFID</td>
                <td>@connectionEdis.SupplierMFG</td>
                <td>
                    <a href='/editconnectionedi/@connectionEdis.Id'>Edit</a>
                    <a href='/deleteconnectionedi/@connectionEdis.Id'>Delete</a>
                </td>
            </tr>

            }
        </tbody>
    </table>
}

@code {

    // AuthenticationState is available as a CascadingParameter
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }


    ConnectionEdi[] connectionEdis;
    string baseUrl;

    protected override async Task OnInitializedAsync()
    {
        baseUrl = AppSettingsService.GetBaseUrl();
        connectionEdis = await Http.GetJsonAsync<ConnectionEdi[]>(baseUrl + "/api/connectionedi/get");
    }
}
